html, body {
  background: #110101;
  color: #00FF00;
}

h1.business-name, a.business {
  color: #00FF00;
}

table, p.appetizers, p.entrees {
  color: #FF0000;
}

a {
  color: #FF0000;
}

.hidden {
  display: none;
}
