html {
  
}

img.background {
  display: inline-block;
  position: absolute;
  z-index: -5;
  opacity: 0.8;
  margin: 0;
}

body {
  color: #00FF00;
  font-family: gill sans;
}

main {
  position: relative;
  }

img.logo {
  position: absolute;
  left: 40%;
  z-index: -4;
  width: 550px;
  height: 550px;
  }

h1.business-name, h2.menu, h2.contact, p {
  position: relative;
}

h1.business-name {
    display: inline-block
    background-color: black;
    margin: 0;
  }

h1.business-name, a.business {
  color: white;
}

h2.menu p, a.menu {
    color: #00FF00;
  }

section.contact {
  color: white;
  background-image: linear-gradient(#D18855, black);
  opacity: 0.9;
  width: 150px;
  }
  
section.contact h2, section.contact p {
  
}

h2.menu p {
  diplay: block;
}

ul p {
  color: #FF0000;
}

p {
  color: #FF0000;
  }

table {
  background-image: linear-gradient(to right, #D18855, black);
  opacity: 0.9;
}

table td {
  opacity: 1;
  }

table, p.appetizers, p.entrees {
  color: white;
}

p.appetizers {
    width: 110px;
  }

p.entrees {
    width: 75px;
  }
  
p.appetizers, p.entrees {
    
  }

a {
  color: #FF0000;
}

.hidden {
  display: none;
}

@media (max-width: 1000px) {
  body {
      
    }

  img.background {
    height: 800px;
    width: auto;
    }

  img.logo {
    width: 200px;
    height: 200px;
    top: 30%;
  }
}

@media (max-width: 750px) {
  body {
      
    }
  
  img.background {
      width: 750px;
    }
  
  img.logo {
    
  }
}

@media (max-width 500px) {
  body {
    
  }

  img.background {
      width: 500px;
    }

  img.logo {
    
  }
}
