html {
  
}

body {
  color: #00FF00;
  font-family: gill sans;
  bacgkround-repeat: no-repeat;
  background-image: url("don-chile-logo.png");
  background-size: contain;
  background-color: black transparent;
  width: 1500px;
  height: 3200px;
}

h1.business-name, a.business {
  color: #00FF00;
}

h2.contact {
  color: #FF0000;
}

ul p {
  color: #FF0000;
}

p {
  color: #FF0000;
  }

table, p.appetizers, p.entrees {
  color: #FF0000;
  width: 24rem;
  border: 1px solid white;
}

a {
  color: #FF0000;
}

.hidden {
  display: none;
}

